<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <div class="d-flex">
    <nav class="nav flex-column justify-content-between">

      <div class="menu">
        <a href="#"><img
            src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/8d1ef3b63951b7f749edd130ff66e4d4856a3df2/week5/logo-ANSWER.svg"
            alt=""></a>
        <a class="nav-link link-dark" href="#"><span class="material-icons">
          vertical_split
          </span>Dashboard</a>
        <a class="nav-link link-dark" href="#"><span class="material-icons">
            question_answer
          </span>Question</a>
        <a class="nav-link link-success active" href="#"><span class="material-icons">
          assignment
          </span>Assignment</a>
        <a class="nav-link link-dark" href="#"><span class="material-icons">
          video_library
          </span>
          Course</a>
        <a class="nav-link link-dark" href="#"><span class="material-icons">
          people
          </span>
          Admin</a>
        <a class="nav-link link-dark" href="#"><span class="material-icons">
          settings
          </span>Settings</a>
      </div>

      <div class="nav-info d-flex align-items-center">
        <div class="flex-shrink-0">
          <img src="https://github.com/hexschool/webLayoutTraining1st/blob/master/week5/andychen.jpeg?raw=true" alt=""
            class="rounded-circle">
        </div>
        <div class="flex-grow-1 ms-3">
          <p class="nav-info-name">Andy Chen</p>
          <p>andy0401@mail.com</p>
        </div>
      </div>

    </nav>
    <div class="main">
      <%- contents %>
    </div>
  </div>

  
  <script src="https://cdn.ckeditor.com/ckeditor5/29.1.0/classic/ckeditor.js"></script>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>