body{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    line-height: 1.5;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

a{
    text-decoration: none;
    color: black;
}